.button {
    -fx-background-color: transparent;
    -fx-background-radius: 6;
    -fx-border-color: #808080;
    -fx-border-radius: 6;
    -fx-border-width: 2;
}

.button:hover {
    -fx-background-color: #808080;
}